        body
        {
            background-image: url("https://lh4.googleusercontent.com/FEdRaa0vy9ofRK9N-sRKP9GMd4LF8UVjTI8KXyb0bOsSb3WJQYV9pOilfHiJrhR5HNE=w2400");
            color: #EEE;
            font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 24px;
        }

        h1
        {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            color: #000b18;
            background-color: #EEE;
            font-size: 32px;
        }

        button, #submitclick
        {
            color: #111;
            margin-left: 43%;
            background-color: #FFF;
            font-size: 30px;
            width: 180px;
            border-radius: 8px;
            transition: all 0.2s ease-in;
        }

        button:hover, #submitclick:hover
        {
            background-color: #C9AF07;
            color: #FFF;
            transition: all 0.2s ease-in;
        }

        .Body
        {
            margin-left: 2%;
        }

        #answer
        {
            border-radius: 10px;
            height: 40px;
            font-size: 30px;
            width: 80px;
            margin-left: 1%;
        }

        #question
        {
            transition: all 1.2s ease-in;
        }

        #hint
        {
            border-radius: 10px;
            height: 40px;
            font-size: 30px;
            width: 180px;
            margin-left: 43%;
        }

        #HintsDisplay
        {
            color: red;
        }

        #score
        {
            font-size: 62px;
        }

        #transparentbg
        {
            background-color: rgba(11,11,11,0.7);
            border-radius: 10px;
        }
